atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink

config.symlink/htop
config.symlink/configstore
config.symlink/gcloud
config.symlink/clash
config.symlink/thefuck
config.symlink/dask
config.symlink/biolab.si
config.symlink/karabiner
config.symlink/wireshark
config.symlink/micro
config.symlink/item2
config.symlink/Battle.net

.DS_Store
.vscode/
config.symlink/hub
config.symlink/gh/hosts.yml
