atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink

config.symlink/htop
config.symlink/configstore
config.symlink/gcloud
config.symlink/clash
config.symlink/thefuck
config.symlink/dask
config.symlink/biolab.si

.DS_Store
.vscode/